* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px solid black;*/
}

body {
    width: 460px;
    margin-right: auto;
    margin-left: auto;
}
#container {
    margin-right: auto;
    margin-left: auto;
    margin: 30px;
    width: 350px;
}
h1 {
    text-align: center;
}
img {
    margin-top: 2px;
    width: 350px;
}